.DS_Store
/.initial_export
/.files/backups
/.files/scrambles
/.files/sessions
/.files_tmp/errors
/.files_tmp/scramble_pdf
/.files_public
/.well-known
**/external
/vendor/
/composer.lock
/nbproject/
/.config_key/extraevents.org.yml
/.config_key/localhost.yml